// Place all the styles related to the Tally controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin: 0;
    padding: 0;
    background-color:#F6F7FB;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 730px;
    }
    .main-raised {
        margin-left: 30px;
        margin-right: 30px
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1100px;
    }
  }

.btn-apply{
    margin-top: 30px; 
    margin-right: 10px;
}

.active-row{
    background-color: #125688;
    color: #FAFAFA;
}
a:active,
a:focus,
button::-moz-focus-inner,
button:active,
button:focus,
button:hover,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
select::-moz-focus-inner {
    outline: 0!important
}

.bootstrap-datetimepicker-widget a .btn:hover,
.bootstrap-datetimepicker-widget a[data-action]:hover {
    background-color: transparent
}

.btn.btn-default:active,
.btn.btn-default:focus,
.btn.btn-default:hover,
.btn:active,
.btn:focus,
.btn:hover,
.navbar .navbar-nav>li>a.btn.btn-default:active,
.navbar .navbar-nav>li>a.btn.btn-default:focus,
.navbar .navbar-nav>li>a.btn.btn-default:hover,
.navbar .navbar-nav>li>a.btn:active,
.navbar .navbar-nav>li>a.btn:focus,
.navbar .navbar-nav>li>a.btn:hover {
    box-shadow: 0 14px 26px -12px rgba(33, 49, 64, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(33, 49, 64, .2)
}
//Dropdown
select {
    display: none;
  }
  
  .dropdown {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0);
    background-color: #f6f6f6;
    border-radius: 6px;
    border: solid 1px #eee;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
            box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
    width: auto;
  }
  .dropdown:focus {
    background-color: #f1f1f1;
  }
  .dropdown:hover {
    background-color: #f3f3f3;
  }
  .dropdown:active, .dropdown.open {
    background-color: #f0f0f0 !important;
    border-color: #e4e4e4;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  }
  .dropdown:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
            transform: origin(50% 20%);
    -webkit-transition: all 0.125s ease-in-out;
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
  }
  .dropdown.open:after {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .dropdown.open .list {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
  .dropdown.open .option {
    cursor: pointer;
  }
  .dropdown.wide {
    width: 100%;
  }
  .dropdown.wide .list {
    left: 0 !important;
    right: 0 !important;
  }
  .dropdown .list {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
    background-color: #fff;
    border-radius: 6px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
  }
  .dropdown .list:hover .option:not(:hover) {
    background-color: transparent !important;
  }
  .dropdown .option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .dropdown .option:hover, .dropdown .option:focus {
    background-color: #f6f6f6 !important;
  }
  .dropdown .option.selected {
    font-weight: 600;
  }
  .dropdown .option.selected:focus {
    background: #f6f6f6;
  }

  .dropdown .list ul{
    -webkit-padding-start: 0;
  }
//Dropdown

//DatePicker
.datepicker table {
  width: 100%;
  margin: 0;
}

.datepicker .table-condensed > thead > tr > th {
  padding: 0;
}

.datepicker th.next, .datepicker th.prev {
  font-size: 12px;
}

.datepicker td, .datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker.dropdown-menu {
  border-radius: 3px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
  margin-top: -20px;
  opacity: 0;
  visibility: hidden;
}

.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdown-menu {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dropdown-menu {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.datepicker.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
  margin-top: 1px;
}